.container {
  width: 42px;
  height: 24px;
  border: 1.1px solid #7f2dba;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2px;
  position: relative;
  cursor: pointer;
}

.icon {
  font-size: 12px;
  color: yellow;
}

.ball {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: #2e1c5c;
  position: absolute;
}
